<%- include('partials/header') %>

<main class="static-page">
  <div class="container">
    <h1>Farm Tours</h1>
    <p>
      Information about our farm tours will be available here soon. Stay tuned!
    </p>
  </div>
</main>

<%- include('partials/footer') %>
